<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Excercise Buddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB1F1C391E80698E00FB06DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1F1C4F1E80698F00FB06DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1F1C5A1E80698F00FB06DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
